
#contact-info {
	font-size: .8em;
}

.job {
	top: 1px;
	background-color: #e9e5dc;
	padding: 4px;
}

.ul {
	font-size: .8em;
}
/* The .ul is is an example of selecting a child element
within another one.
*/
a: link {
	color: cyan;
}

.external: link {
	color: green;
}